body{
    background-color:rgb(243, 238, 238);
    margin: 4.2rem;
    font-size: 18px;
    font-family: 'Open Sans';
}
header{
    background-image: url(https://tinyurl.com/2p8rne9b);
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-color:hsl(193, 100%, 96%);
    padding:5rem;
    padding-top: 3rem;
}
button{
    border: none;
    border-radius: 2rem;
}
.hdr-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.tif-btn{
    background-color: white;
    box-shadow:4px 4px 4px 2px rgba(194, 184, 184, 0.274);
    font-weight: bolder;
    font-size: smaller;
    padding: 1rem rem;
    width: 11rem;
}
.hdr-btm{
    display: grid;
    grid-template-columns:43% 57%;
    align-items: center;
    justify-content:center;
}
.text h1{
    font-family: 'Poppins';
    font-size:2.6rem;
    font-weight: 600;
}
.text p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.2rem;
}
.image{
    margin-left: 3rem;
}
.mockups{
    max-width: 100%;
}
.btn1{
    background-color: hsl(322, 100%, 66%);
    color:rgb(243, 238, 238);
    padding: 1.2rem 4.5rem;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-top: 1rem;
}
section{
    background-color: white;
    padding: 9rem 7rem 20rem;
}
.container1{
    border-radius:1rem;
    box-shadow: 1px 1px 3px 3px #e2dada;
    display: grid;
    grid-template-columns:60% 40%;
    align-items: center;
    justify-content: center;
}
.container1 .text{
    padding: 7rem;
}
.grow-tgd{
    margin: 3rem;
}
.grow-together{
    max-width: 100%;
}
.container2{
    border-radius:1rem;
    box-shadow: 1px 1px 3px 3px #e2dada;
    display: grid;
    grid-template-columns:44% 56%;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}
.flowing-con{
    margin-left: 7rem;
}
.flowing-conversations{
    max-width: 100%;
}
.container2 .text{
    padding: 9rem 2rem 9rem 9rem;
}
.container3{
    border-radius:1rem;
    box-shadow: 1px 1px 3px 3px #e2dada;
    display: flex;
    grid-template-columns:60% 40%;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}
.container3 .text{
    padding: 7rem;
}
.your-use{
    margin: 3rem 2rem;
}
.your-users{
    max-width: 100%;
}
footer{
    background-color:  hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
    padding: 8rem;
    display: flex;
}
ul{list-style-type: none;}

@media (max-width: 605px) {
    body{
        margin: 0rem;
        padding: none;
    }
    section{
        padding: 2rem;
    }
    header{
        padding: 2rem;
    }
    .hdr-top{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0rem;
    }
    .hdr-btm{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    .image{
        max-width: 100%;
        margin: 0rem;
        padding: 0rem;
        margin-top: 3rem;
    }
    .container1{
        display: flex;
        flex-direction:column;
        padding: 2rem;
    }
    .container1 .text{
        padding: none;
    }
    .tif-btn{
        background-color: white;
        box-shadow:4px 4px 4px 2px rgba(194, 184, 184, 0.274);
        font-weight: bolder;
        font-size: smaller;
        padding: 1rem;
        width: 12rem;
    }
    .text h1{
        font-family: 'Poppins';
        font-size:2.6rem;
        font-weight: 600;
    }
    .text p{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 1.2rem;
    }
    .mockups{
        max-width: 100%;
    }
    .btn1{
        background-color: hsl(322, 100%, 66%);
        color:rgb(243, 238, 238);
        padding: 1.2rem 4.5rem;
        font-family: 'Open Sans';
        font-weight: 600;
        margin-top: 1rem;
    }
    section{
        background-color: white;
        padding: 2rem 3rem 10rem;
    }
    .container1{
        border-radius:1rem;
        box-shadow: 1px 1px 3px 3px #e2dada;
        display: grid;
        grid-template-columns:60% 40%;
        align-items: center;
        justify-content: center;
    }
    .container1 .text{
        padding: 0rem;
    }
    .grow-tgd{
        margin: rem;
    }
    .container2{
        border-radius:1rem;
        box-shadow: 1px 1px 3px 3px #e2dada;
        display: grid;
        grid-template-columns:44% 56%;
        align-items: center;
        justify-content: center;
        margin-top: 2.5rem;
    }
    .flowing-con{
        margin-left: 7rem;
    }
    .flowing-conversations{
        max-width: 100%;
    }
    .container2 .text{
        padding: 9rem 2rem 9rem 9rem;
    }
    .container3{
        border-radius:1rem;
        box-shadow: 1px 1px 3px 3px #e2dada;
        display: flex;
        grid-template-columns:60% 40%;
        align-items: center;
        justify-content: center;
        margin-top: 2.5rem;
    }
    .container3 .text{
        padding: 7rem;
    }
    .your-use{
        margin: 3rem 2rem;
    }
    .your-users{
        max-width: 100%;
    }
    .container2{
        border-radius:1rem;
        box-shadow: 1px 1px 3px 3px #e2dada;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        margin-top: 2.5rem;
    }
    .container3{
        border-radius:1rem;
        box-shadow: 1px 1px 3px 3px #e2dada;
        display: flex;
       flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2.5rem;
    }
    footer{
        display: flex;
        padding: 2rem;
        flex-direction: column;
    }
}